html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
  float: left;
  padding-right: 40px;
}

header {
  height: 70px;
  background-color: #202f55;
  color: #fff;
  display: flex;
}

input {
  border: 1px solid darkgray;
  border-radius: 0.25em;
  padding: 0.2em;
  width: 12em;
}

select {
  border: 1px solid darkgray;
  border-radius: 0.25em;
  padding: 0.2em;
  width: 12em;
}

.header-logo {
  font-size: 30px;
  padding: 15px 35px;
}

.header-list {
  font-size: 20px;
  padding: 33px 20px;
}

.regist_spending {
  width: 20%;
  float: left;
  color: #202f55;
  float: left;
  margin: 10px;
}

.regist_spending h4 {
  padding-left: 23px;
}

.regist-contents-top {
  padding-left: 20px;
  border-bottom: 2px solid darkgray;
}

.regist_spending table {
  width: 50%;
  font-size: 80%;
  table-layout: fixed;
  border: none;
  padding: 10px;
}

.regist-contents-bottom {
  padding-left: 20px;
  border-bottom: 2px solid darkgray;
}

.regist_spending_btn {
  float: right;
  color: #fff;
  background-color: #67b5b7;
}

.regist_spending_btn:hover {
  color: #fff;
  background-color: #80989b;
}

.expense-table {
  display: flex;
  float: left;
  padding: 10px;
}

.individual-expense table {
  font-size: 70%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid darkgray;
}

.individual-expense th {
  border: 1px solid darkgray;
}

.individual-expense td {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid darkgray;
}

.joint-expense table {
  font-size: 70%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid darkgray;
}

.joint-expense th {
  border: 1px solid darkgray;
}

.joint-expense td {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid darkgray;
}

.main-table table {
  margin-left: 10px;
  width: 50%;
  font-size: 70%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid darkgray;
}

.main-table th {
  border: 1px solid darkgray;
}

.main-table td {
  border: 1px solid darkgray;
}
